.drug .big {
  font-size: 900em;
}

body {
  margin: 0;
  padding: 0;
  background-color: #BADA55;
  height: 892px;
  color: black;
}
body .drug {
  font-size: 100px;
}
body .drug .brat {
  color: #BADA55;
  font-size: 50px;
}

.container {
  display: flex;
  font-size: 38pt;
  font-style: italic;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  border-top: 4px solid gray;
  border-bottom: 4px solid gray;
}

.container__element {
  background-color: white(60, 255, 0);
  margin: 2%;
  text-align: center;
}

.container2 {
  display: flex;
  font-size: 10pt;
}

.container__element2 {
  margin: 20px;
  text-align: center;
  font-size: 15pt;
}

.container__element3 {
  display: flex;
  flex-direction: column;
}

.wrapper {
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 70%;
}

.wrapper img {
  margin: 0 auto;
  width: 100%;
}

.title {
  font-size: 24pt;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.achivki {
  text-align: center;
  font-size: 40pt;
  font-family: Impact;
}

img {
  padding-bottom: 20px;
  width: 55%;
}

.izo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.buzoter img {
  border: 2px solid #55c5e9;
  padding: 8px;
  background: #00ffbf;
  width: 180px;
}

.buzoter {
  width: 300px;
}